/* Stylar webbsidan med CSS */

body {
    background-color: rgb(182, 219, 148);
    /* sätter webbsidans bakgrundsfärg */
}

/* stylar huvudrubriken */

.mainHeading {
    color: darkslategrey;
    /* textfärg */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* ändrar rubrikens typsnitt */
    font-size: 40px;
    /* textstorlek */
    text-decoration: underline;
    /* text understruken*/
    text-align: center;
    /* centrerad*/
}

.secondHeading {
    color: darkslategrey;
    /* textfärg */
    font-family: sans-serif;
    /* ändrar rubrikens typsnitt */
    text-align: left;
    /* underrubriker till vänster*/
}

/* stylar profilbilden */

.profileImg {
    border-style: ridge;
    /* stil på ram runt bild */
    border-width: 5px;
    /* ramens bredd */
    border-color: #778899;
    /* ramens färg med hex */
    position: static;
    /* placering av bild */
}

.presentationText {
    font-family: serif;
    /* byter typsnitt */
    position: relative;
    /* placering av text */
    left: 5px;
    /* liten intendering av text */
    font-size: large;
    /* större textstorlek*/
}

/* Flexbox som innehåller stylade länkar */

.linkBox {
    display: flex;
    /* använder flexbox */
    flex-direction: row;
    /* lägger elementen i en rad */
    flex-wrap: wrap;
    /* elementen läggs på flera rader om de inte får plats */
}

/* För skärmar som är 600px eller mindre */

@media screen and (max-width: 600px) {
    .linkBox {
        display: flex;
        flex-direction: column;
        /* lägger elementen i en kolumn */
    }
}

/* Stylar portfolio-länkarna */

.portfoliLinks {
    border-style: solid;
    /* ram */
    border-color: black;
    /* ramens färg */
    text-align: center;
    /* centrerad text i rutorna */
    background-color: lightblue;
    padding: 10px 50px;
    /* fyller upp rutorna på höjd och bredd */
    border-radius: 20px;
    /* rundar hörnen */
    margin: 5px;
    /* lite mellanrum runt länkarna*/
    font-family: sans-serif;
    /* ändrar typsnitt */
    color: greenyellow;
    /* sätter färg */
    text-shadow: 2px 0 blue, -2px 0 0 blue, 0 2px 0 blue, 0 -2px 0 blue, 1px 1px blue, -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue;
    /* använder skugga */
    font-size: large;
    /* textstorlek */
    text-decoration: none;
    /* tar bort understrykning av länkar */
}